Задание 1. Реализовать метод по примеру выше для расчета дисперсий к следующей задаче.
Решить задачу, используя методы Anova SciPy.

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [5]:
import numpy as np

In [7]:
fcount = 8
hcount = 9
shcount = 11
count = fcount + hcount + shcount

In [21]:
k = 3;

In [8]:
footballers = np.array([173, 175, 180, 178, 177, 185, 183, 182], dtype=np.float64)
hockey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180], dtype=np.float64)
shtangers = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170], dtype=np.float64)

Средние зарплаты для каждого спорта:

In [9]:
fmean = np.mean(footballers)
print(fmean);

179.125

In [10]:
hmean = np.mean(hockey)
print(hmean);

178.66666666666666

In [12]:
shmean = np.mean(shtangers)
print(shmean);

172.72727272727272

In [13]:
y_all = np.concatenate([footballers, hockey, shtangers])

In [14]:
y_mean = np.mean(y_all)
print(y_mean)

176.46428571428572

Найдем $S^2$ — сумму квадратов отклонений наблюдений от общего среднего:

In [15]:
s2 = np.sum((y_all - y_mean)**2)
s2

830.9642857142854

In [16]:

s2_f = ((fmean - y_mean)**2) * fcount + ((hmean - y_mean)**2) * hcount + ((shmean - y_mean)**2) * shcount
s2_f

253.9074675324678

Oстаточная сумма квадратов отклонений:

In [17]:
s2_residual = np.sum((footballers - fmean)**2) + np.sum((hockey - hmean)**2) + np.sum((shtangers - shmean)**2)
s2_residual

577.0568181818182

Проверка равенства

In [18]:
print(s2)
print(s2_f + s2_residual)

830.9642857142854
830.964285714286

In [19]:
sigma2_general = s2 / (count - 1)
sigma2_general

30.776455026455015

In [22]:
sigma2_f = s2_f / (k - 1)
sigma2_f

126.9537337662339

Остаточная дисперсия

In [24]:
sigma2_residual = s2_residual / (count - k)
sigma2_residual

23.08227272727273

Вычислим $F_H$:

In [25]:
F_h = sigma2_f / sigma2_residual
F_h

5.500053450812598

Задание2. Проанализируйте набор данных «Авто-мили», чтобы выяснить, насколько переменные похожи друг на друга.

Загрузите набор данных auto-mpg из ~ / наборов данных / auto-mpg / Проверить нулевую гипотезу, отклонять или не отклонять нулевую гипотезу.

Гипотезы:
Independent variable: origin

Dependent variable: mpg

$ H_o: $ Существенных различий в милях среди транспортных средств различного происхождения не существует.

$ H_1: $ Существенная разница существует в милях среди транспортных средств различного происхождения.

Independent variable: origin

Independent variable: horsepower

Dependent variable: mpg

$ H_o: $ Существенных различий в милях среди транспортных средств различного происхождения не существует.

$ H_1: $ Существенная разница существует в милях среди транспортных средств различного происхождения.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('auto-mpg.csv')
data.tail(30)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
368,27.0,4,112.0,88,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl
375,36.0,4,105.0,74,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
378,38.0,4,105.0,63,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98.0,70,2125,17.3,82,1,mercury lynx l
380,36.0,4,120.0,88,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107.0,75,2205,14.5,82,3,honda accord
382,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla
383,38.0,4,91.0,67,1965,15.0,82,3,honda civic
384,32.0,4,91.0,67,1965,15.7,82,3,honda civic (auto)
385,38.0,4,91.0,67,1995,16.2,82,3,datsun 310 gx
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
390,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90,2950,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
n1 = data.groupby('origin').count()['mpg'].values[0]
n2 = data.groupby('origin').count()['mpg'].values[1]
n3 = data.groupby('origin').count()['mpg'].values[2]
n = n1 + n2 + n3
print(n)

398

In [6]:
y1 = data.groupby('origin').mpg.apply(list).values[0]
y2 = data.groupby('origin').mpg.apply(list).values[1]
y3 = data.groupby('origin').mpg.apply(list).values[2]

Однофакторный дисперсионный анализ

In [7]:
y1_mean = np.mean(y1)
print(y1_mean)
y2_mean = np.mean(y2)
print(y2_mean)

y3_mean = np.mean(y3)
print(y3_mean)

20.083534136546184
27.89142857142857
30.450632911392404

Можно заметить расхождение в средних значениях 3 групп => найдем среднее по всем значениям

In [8]:
y_all = np.concatenate([y1, y2, y3])
y_all

y_mean = np.mean(y_all)
print(y_mean)

23.514572864321607

Найдем сумму квадратов отклонений наблюдений от общего среднего

In [9]:
s2 = np.sum((y_all - y_mean)**2)
s2

24252.575477386934

Найдем сумм квадр от средних групповых значений

In [10]:
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

8072.820661929806

И остаточную сумму квадратов отклонений

In [11]:
s2_residual = np.sum((y1 - y1_mean)**2) + np.sum((y2 - y2_mean)**2) + np.sum((y3 - y3_mean)**2)
s2_residual

16179.754815457129

Проведем проверку

In [12]:
print(s2)
print(s2_f + s2_residual)

24252.575477386934
24252.575477386934

In [18]:
'Общая дисп'
sigma2_general = s2 / (n - 1)
print(sigma2_general);
'Факторная дисп'
sigma2_f = s2_f / (3 - 1)
print(sigma2_f);
'Остаточная дисп'
sigma2_residual = s2_residual / (n - 3)
print(sigma2_residual);

61.08961077427439
4036.410330964903
40.961404596094

In [19]:
'F_h'
F_h = sigma2_f / sigma2_residual
F_h

98.54179491075868

Задание 3. Определить , какие выборки и какой критерий использовать.

Пример
Изучить, оказывает ли влияение новая недавно разработанная система электронной регистрации на прием к врачу на среднее время, проведенное пациентом в ожидании приема. Пусть есть две выборки со средним временем ожидания приема за последний месяц в двух разных клиниках; в одной из них есть система электронной регистрации, а в другой – нет.

Пример
Для тестирования диеты набираются 15 человек. Их вес замеряется, а затем они подвергаются диете в течении некоторого времени, и их вес снова замеряется. С помощью статистических методов необходимо проверить, работает ли диета.

Пример
Влияние витамина C на рост зубов морских свинок. В эксперименте изучалось влияние витамина C на рост одонтобластов морских свинок. Рассматривалось три дозы витамина (0.5, 1 и 2 мг) и два способа его приёма (апельсиновый сок и аскорбиновая кислота). В каждой из 6 групп по уровням двух факторов были произведены измерения для 10 морских свинок.

Пример
Рост певцов хора В 1979 году было опрошено 235 членов нью-йоркской ассоциации хорового пения, для каждого из них известен рост и регистр голоса. Меняется ли средний рост вместе с регистром?

1. Критерий Фишера

Independent variable: способ записи в поликлинике

Dependent variable: время ожидания приема

2. 
Критерий Фишера

Independent variable: время

Dependent variable: вес

3. Критерий Фишера

Independent variable: доза витамина

Independent variable: способ приема

Dependent variable: рост зубов

4. Критерий Фишера

Independent variable: регистр членов нью-йоркской ассоциации

Dependent variable: рост членов нью-йоркской ассоциации